body {
            font-family: Arial, sans-serif;
            margin:15px;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        #info {
            display: none;
            text-align: center;
        }
        #enter {
            cursor: pointer;
            color: #fff;
            font-size: 2em;
            text-decoration: underline;
            animation: glow 2s ease-in-out infinite alternate
        }
        @keyframes glow {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
            }
            to {
                text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
            }
        }


        #info {
          display: none;
          text-align: center;
          color: transparent;
        }

        #info p {
          overflow: hidden; 
white-space: nowrap;

          animation: typing 3s steps(40) 0.5s forwards;
        }

        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
            color: white;
          }
        }
